			<header id="header">
				<div class="container">
					<h1 class="logo">
						<a href="index.html">
							<img alt="Tucson" width="148" height="44" data-sticky-width="134" data-sticky-height="40" src="assets/img/logo.png">
						</a>
					</h1>
					<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<nav class="nav-main mega-menu">
							<ul class="nav nav-pills nav-main" id="mainMenu">
								<li>
									<a href="#home">Home</a>
								</li>
								<li>
									<a href="#introducing">Introducing</a>
								</li>
								<li>
									<a href="#team">Team</a>
								</li>
								<li>
									<a href="#Contact">Contact</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
