Test Nathan
			<div role="main" class="main">
				<section class="home-top clean">
					<div class="slider-container">
						<div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 580}'>
							<ul>
								<li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

									<img src="assets/img/slides/slide-clean-bg-1.jpg" data-bgposition="left top" data-bgrepeat="no-repeat">

									<div class="tp-caption main-label md white customin"
										data-x="left" data-hoffset="115"
										data-y="150"
										data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
										data-speed="800"
										data-start="300"
										data-easing="Back.easeInOut"
										data-endspeed="300">KEEP IT SIMPLE
									</div>


									<div class="tp-caption white top-label md white customin"
										data-x="left" data-hoffset="115"
										data-y="240"
										data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
										data-speed="800"
										data-start="0"
										data-easing="Back.easeInOut"
										data-endspeed="300">Solutions are sometimes very vague <br/> or overly complicated.<br/> But they don’t have to be.
									</div>


									<a class="tp-caption customin btn btn-lg btn-primary main-button" data-hash href="#get-started"
										data-x="left" data-hoffset="205"
										data-y="340"
										data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
										data-speed="800"
										data-start="700"
										data-easing="Back.easeInOut"
										data-endspeed="300">
											Learn More!
									</a>

									<div class="tp-caption sfb"
										data-x="right" data-hoffset="-110"
										data-y="center" data-voffset="10"
										data-speed="1000"
										data-start="700"
										data-easing="Back.easeInOut"
										data-endspeed="300">
										<img src="assets/img/slides/slide-caption-1.png" />
									</div>

								</li>
							</ul>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<div class="feature-box secundary">
										<div class="feature-box-icon">
											<i class="fa fa-scissors fa-5x"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">CUT TO THE CHASE</h4>
											<p class="tall">Your needs are specific to you, driven by things you know. We can help you clarify those needs, and look for answers that match.</p>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="feature-box secundary">
										<div class="feature-box-icon">
											<i class="fa fa-rocket fa-5x"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">LOOK FORWARD</h4>
											<p class="tall">As the first pieces of your puzzle are put into place, we’ll look forward to see how to line up the things you need next.</p>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="feature-box secundary">
										<div class="feature-box-icon">
											<i class="fa fa-users fa-5x"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">MANAGE THE PROCESS</h4>
											<p class="tall">Projects aren’t always easy to manage and we’re here to watch out for your best interests, and make sure the priorities are taken care of.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>


			<section class="parallax" data-stellar-background-ratio="0.4" style="background-image: url(assets/img/parallax-2.jpg);">
				<div class="container">
					<div class="row">
						<div data-appear-animation="fadeInDown" class="appear-animation">
							<div class="col-md-4">
								<h2 class="short dark">The Team</h2>
							</div>
							<div class="clearfix"></div>
							<br/>
							<br/>
							<br/>
							<div class="row featured-boxes secundary">
								<div class="col-md-2">
									<div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
										<div class="featured-box featured-box-primary">
											<div class="box-content">
												<i class="icon-featured fa fa-heart"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-10">
									<h3 class="short dark">You</h3>
									<h5 class="short">The Dreamer</h5>
									<p>
										You know where you want to go and how quickly you want to get there.
									</p>
								</div>
							</div>
						</div>

						<div data-appear-animation="fadeInDown" class="appear-animation">
							<div class="row">
								<div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
									<div class="col-md-2 center push-bottom">
										<span class="icon-rounded"><i class="fa fa-plus"></i></span>
									</div>
								</div>
							</div>
						</div>

						<div data-appear-animation="fadeInDown" class="appear-animation">
							<div class="row featured-boxes secundary">
								<div class="col-md-2">
									<div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
										<div class="featured-box featured-box-primary">
											<div class="box-content">
												<i class="icon-featured fa fa-group"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-10">
									<h3 class="short dark">Burt Ramos</h3>
									<h5 class="short">Frontman</h5>
									<p>
										Your extended team starts here and we’ll help you draw up your plans and priorities.
									</p>
								</div>
							</div>
						</div>

						<div data-appear-animation="fadeInDown" class="appear-animation">
							<div class="row">
								<div data-appear-animation="fadeIn" data-appear-animation-delay="800" class="appear-animation">
									<div class="col-md-2 center push-bottom">
										<span class="icon-rounded"><i class="fa fa-plus"></i></span>
									</div>
								</div>
							</div>
						</div>

						<div data-appear-animation="fadeInDown" class="appear-animation">
							<div class="row featured-boxes secundary">
								<div class="col-md-2">
									<div data-appear-animation="bounceIn" data-appear-animation-delay="600" class="appear-animation">
										<div class="featured-box featured-box-primary">
											<div class="box-content">
												<i class="icon-featured fa fa-star"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-10">
									<h3 class="short dark">CNS Technical Group, Inc.</h3>
									<h5 class="short">Technical Partner</h5>
									<p>
										CNS specializes in Fully Managed Custom Cloud Hosting that is affordable and robust. Their offices are located in Japan, France, and the United States.
									</p>
								</div>
							</div>
						</div>

					</section>


			</div>
